<h1>Main page</h1>
<h2>On this page you can:</h2>
<ul>
  <li><h3>See random image (thanks to Faker gem) :)</h3></li>
  <li><h3>Add picture which you like to your own database by <a href="/favourites/new">this link</a></h3></li>
  <li><h3>See your list of favourites pictures and delete pictures by <a href="/favourites/new">this link</a></h3></li>
</ul>

<img src="<%= @url%>" alt="picture">
<h3>URL of random picture: <%= @url%></h3>